@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-background {
    background-image: url('/pictures/MontBlanc.jpeg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
